<div class="main-body-container">
    <div class="side-panel-container">
        <h2>Filters</h2>

        <h3 class="dropdown-label">Start Date</h3>
        <div class="mat-form-field-container">
            <mat-form-field class="month-dropdown">
                <mat-label>Month</mat-label>
                <mat-select [(ngModel)]="startMonth">
                    <mat-option value="1">January</mat-option>
                    <mat-option value="2">Febuary</mat-option>
                    <mat-option value="3">March</mat-option>
                    <mat-option value="4">April</mat-option>
                    <mat-option value="5">May</mat-option>
                    <mat-option value="6">June</mat-option>
                    <mat-option value="7">July</mat-option>
                    <mat-option value="8">August</mat-option>
                    <mat-option value="9">September</mat-option>
                    <mat-option value="10">October</mat-option>
                    <mat-option value="11">November</mat-option>
                    <mat-option value="12">December</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="year-dropdown">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="startYear">
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2023">2023</mat-option>
                    <mat-option value="2024">2024</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <h3 class="dropdown-label">End Date</h3>
        <div class="mat-form-field-container">
            <mat-form-field class="month-dropdown">
                <mat-label>Month</mat-label>
                <mat-select [(ngModel)]="endMonth">
                    <mat-option value="1">January</mat-option>
                    <mat-option value="2">Febuary</mat-option>
                    <mat-option value="3">March</mat-option>
                    <mat-option value="4">April</mat-option>
                    <mat-option value="5">May</mat-option>
                    <mat-option value="6">June</mat-option>
                    <mat-option value="7">July</mat-option>
                    <mat-option value="8">August</mat-option>
                    <mat-option value="9">September</mat-option>
                    <mat-option value="10">October</mat-option>
                    <mat-option value="11">November</mat-option>
                    <mat-option value="12">December</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="year-dropdown">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="endYear">
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2023">2023</mat-option>
                    <mat-option value="2024">2024</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button mat-button mat-raised-button (click)="applyFilters()">Apply</button>
    </div>
    <div class="main-figures">
        <app-networth class="networth" [data]="this.transactions"></app-networth>
        <div class="column-numbers">
            <app-incomebyday [dataObject]="this.incomeDataObject"></app-incomebyday>
            <app-spendingbyday [dataObject]="this.spendingDataObject"></app-spendingbyday>
            <app-netbyday [dataObject]="this.netDataObject"></app-netbyday>
        </div>
    </div>
    <div class="second-row">
        <app-categories class="categories" [data]="this.transactions"></app-categories>
        <app-table class="table" [data]="this.allTransactions"
            (transactionsChange)="updateVariables($event)"></app-table>
    </div>
    <div>
    </div>
</div>